
    <div class="container mt-4" style="min-height: 500px">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, id dolore voluptatem nemo corrupti fuga quidem, omnis incidunt at modi voluptatum consequuntur! Inventore officia autem, aperiam repellendus eos illum optio.
            </div>

        </div>
    </div>
   