
    <div class="container mt-4" style="min-height: 500px">
        <div class="row">
            <div class="col-md-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora sunt sed expedita ullam quod, distinctio doloremque quidem quo placeat aliquid saepe porro alias a ipsa consectetur officia. Omnis, perspiciatis veritatis.</div>
            <div class="col-md-9">
                <h2>Contact Page</h2>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora sunt sed expedita ullam quod, distinctio doloremque quidem quo placeat aliquid saepe porro alias a ipsa consectetur officia. Omnis, perspiciatis veritatis.</div>

        </div>
    </div>
   