<div class="row">
    <div class="col-md-6 offset-md-3">
        <table class="table table-dark table-hover table-bordered">
            <tr>
                <th>S.No.</th>
                <th>City Name</th>
                <th>State Name</th>
            </tr>

            <% data.forEach(function(x, n){ %>
                <tr>
                    <td><%= n+1 %></td>
                    <td><%= x.city_name %></td>
                    <td><%= x.city_state %></td>
                </tr>
            <% }) %>

        </table>

    </div>
</div>