<html>
<head>
    <style>
        body{
            background-color: #258741;
        }
    </style>
</head>
<body>
    <h1>This is EJS Home Page</h1>
    <h2><%= x %></h2>
    <h2><%= y %></h2>
    <h2><%= z %></h2>
</body>
</html>