<div class="container">
  <h2>Add New Student</h2>
  <h3>{{ name }}</h3>
  <pre>{{ newStu | json }}</pre>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="form-group">
        <label>Full Name</label>
        <input [(ngModel)]="newStu.name" type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label>Age</label>
        <input [(ngModel)]="newStu.age" type="text" class="form-control" />
      </div>
      <div class="form-group">
        <button (click)="add()" class="btn btn-block btn-success">Add</button>
      </div>
    </div>
  </div>
</div>
<h2>{{ new_a }}</h2>

<app-student-list 
  [listName]="name"
  [listStu]="addStu"
  (demo)="receiveData($event)"
>
</app-student-list>
