
    <div class="row">
        <div class="col-md-3">
            <h3>Contact Page</h3>
        </div>
        <div class="col-md-9">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet necessitatibus minus, voluptas hic commodi distinctio asperiores dolorum libero itaque aperiam sed accusamus qui provident dicta quos quibusdam deserunt. Quis, quasi.</div>
    </div>
